@model Event;

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-white row">
    <div class="navbar-brand text-secondary col-xs-3" style="font-size: 1.4rem"><strong>Dojo Activity Center</strong></div>

    <div class="col-xs-2 offset-1">
        <a href="/home">Home</a>
    </div>

    <div class="col-xs-2 offset-1">
        <a href="/logout">Logout</a>
    </div>
</nav> -->

<div class="Event-banner col-10">

    <h1 class="Event-title">@Model.Title</h1>

    @if (Model.UserId == ViewBag.thisUser.UserId)
    {
        <div class="text-center"><a href="/event/@Model.EventId/delete" class="Shadow-btn btn btn-danger">Delete!</a></div>
    }
    else
    {
        bool isJoining = false;
        @foreach (var rsvp in Model.Attendees)
        {
            @if (rsvp.UserId == ViewBag.thisUser.UserId)
            {
                isJoining = true;
            }
        }
        @if (isJoining)
        {
            <div class="text-center"><a href="/event/@Model.EventId/leave" class="Shadow-btn btn btn-success">Leave!</a></div>

        }
        else
        {
            <div class="text-center"><a href="/event/@Model.EventId/join" class="Shadow-btn btn btn-primary">Join!</a></div>
        }
    }
</div>

<div class="Event-info card col-6">
    <div class="card-body">
        <div class="card-title">
            <h1>Event Coordinator:</h1> 
        </div>
        <div class="card-text">
            <p>@ViewBag.Coordinator.FirstName @ViewBag.Coordinator.LastName</p>
        </div>

        <div class="card-title">
            <h1>Description:</h1>
        </div>
        <div class="card-text">
            <p>@Model.Description</p>
        </div>

        <div class="card-title">
            <h1>Participants:</h1>
        </div>
        <div class="card-text">
            <ul>
            @if (Model.AttendeeCount == 1){
                <p>No users have RSVPed yet!</p>
            } else{
                @foreach (RSVP rsvp in Model.Attendees){
                    @if (rsvp.User.UserId == ViewBag.Coordinator.UserId){
                        continue;
                    } 
                    else
                    {
                        <p>@rsvp.User.FirstName @rsvp.User.LastName</p>
                    }
                }
            }
            </ul>
        </div>
    </div>
</div>






