
<div class="Welcome-text">Welcome, @ViewBag.User.FirstName!</div>

<table class="Home-table table">
    <thead>
        <tr>
            <th scope="col">Activity</th>
            <th scope="col">Date and Time</th>
            <th scope="col">Duration</th>
            <th scope="col">Event Coordinator</th>
            <th scope="col">Number of Participants</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
        @foreach (var e in ViewBag.allEvents)
        {
            DateTime now = DateTime.Now;

            if (e.Date.CompareTo(now) < 0){
                continue;
            }
            <tr>
                <th scope ="row"><a href="/Event/@e.EventId">@e.Title</a></th>
                <td>@e.Date at @e.Time</td>
                <td>@e.Duration @e.DurationUnits</td>
                <td>@e.Coordinator.FirstName @e.Coordinator.LastName</td>
                <td>@e.AttendeeCount</td>

                @if (e.Coordinator.UserId == ViewBag.User.UserId)
                {
                    <td><button class="Home-action-del" href="event/@e.EventId/delete">Delete!</button></td>
                }
                else
                {
                    @if(!ViewBag.allUserEvents.Contains(e))
                    {
                        <td><button class="Home-action-join btn" href="event/@e.EventId/join">Join!</button></td>
                    }
                    else 
                    {
                        <td><button class="Home-action-leave btn" href="event/@e.EventId/leave">Leave!</button></td>
                    }
                }
            </tr>
        }
</table>






<div class="text-center"><a href="/new" class="Home-add-btn btn btn-warning">Add a new Activity!</a></div>


